

.workshop{

    margin-top: 2rem;
    margin-bottom: 2rem;


    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.workshop h2{

    font-size: 2rem;
    font-weight: bold;
    color:black;
    text-align: center;

}

.workshop-grid-container{

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    width: 100%;
}

.workshop-grid-container ul{

    display: grid;
    gap: 2rem;
    list-style-type: none;
    grid-template-columns: repeat(4,1fr);

  


}






.workshop-grid-container ul li {

    padding: 1rem;
    background-color: #F6EFE8;
    color: black;

    font-size: 1.2rem;
    font-weight: bold;

    display: flex;
    gap: 1.2rem;
}

.workshop-grid-container ul .fas{

    color: #E86D2B;
}

.workshop-grid-container ul li:last-child{

    grid-column: span 4;
}

.workshop-info-container{

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
}

.workshop-info{

    margin: 2rem;

    max-width: 1200px;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;


}

.workshop-info h2{

    text-align: center;
    font-size: 2rem;
    color: black;
    font-weight: bold;
}


@media(max-width:768px){

    .workshop-grid-container ul{

       grid-template-columns:repeat(1,1fr);
       max-width: 100%;
    
    
    }

    .workshop-grid-container ul li:last-child{

        grid-column: span 1;
    }

    .workshop-info h2{

        font-size: 1.2rem;
    }
}